.red{
    background-color: rgb(173, 139, 139);
    background: black;
}

#firstdiv{
    background-color: rgb(205, 160, 160);
    color: rgb(24, 21, 21);
    
}

#audiodiv{
    background-color:rgb(235, 85, 85) ;
    
}

#prediv{
    background-color:rgb(235, 85, 85) ;
}
#iframediv{
    background-color: rgb(235, 85, 85);
}

.container {
    display: flex;
    justify-content: space-between;
}

body{
    background: rgb(235, 85, 85);
    color: white;
    
}
td{
    border: 2px solid black;
}
caption{
    border: 2px solid black;
}
li{
    color: black;
}

p{
    background-color: rgb(9, 248, 168);
}

a{
    background-color: rgb(186, 186, 227);
}
div{
    background-color: yellowgreen;
}
span{
    background-color: rgb(85, 56, 53);
}
h3{
    background-color: rgb(171, 134, 134);
}
